# Raspberry Pi deploy configuration
# WARNING: do not commit this file to version control if it contains sensitive data.
#copy as .vscode/rpi-deploy.env

# Raspberry Pi SSH user
RPI_USER=pi

# Raspberry Pi host address or IP
RPI_HOST=192.168.1.11

# SSH port
RPI_PORT=22

# Remote directory where the binary will be copied
RPI_REMOTE_DIR=/home/pi/relayTester

RPI_SSH_KEY=~/.ssh/id_rsa_edf